<!-- Tabs -->
<ion-tabs class="tabs-energized tabs-icon-only">
	<!-- Gallery -->
  <ion-tab ui-sref="tabs.gallery" icon="ion-images">
  	<ion-nav-view name="tabs.gallery"></ion-nav-view>
  </ion-tab>
	<!--/Gallery -->

	<!-- Map -->
	<ion-tab ui-sref="tabs.home" icon="ion-earth">
		<ion-nav-view name="tabs.home"></ion-nav-view>
	</ion-tab>
	<!--/Map -->

	<!-- Upload -->
  <ion-tab ui-sref="tabs.upload" icon="ion-camera">
  	<ion-nav-view name="tabs.upload"></ion-nav-view>
  </ion-tab>
	<!--/Upload -->
</ion-tabs>
<!--/Tabs -->
