<!-- Tabs -->
<ion-tabs class="tabs-stable tabs-icon-only">
	<!-- Gallery -->
  <ion-tab ui-sref="tabs.gallery" icon-off="ion-images" icon-on="ion-images assertive">
  	<ion-nav-view name="tabs.gallery"></ion-nav-view>
  </ion-tab>
	<!--/Gallery -->

	<!-- Map -->
	<ion-tab ui-sref="tabs.home" icon-off="ion-earth" icon-on="ion-earth balanced">
		<ion-nav-view name="tabs.home"></ion-nav-view>
	</ion-tab>
	<!--/Map -->

	<!-- Upload -->
  <ion-tab ui-sref="tabs.upload" icon-off="ion-camera" icon-on="ion-camera positive">
  	<ion-nav-view name="tabs.upload"></ion-nav-view>
  </ion-tab>
	<!--/Upload -->
</ion-tabs>
<!--/Tabs -->
