<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reportar problema</h1>
    <button class="button button-clear" ng-click="closeModal()"><i class="ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
		  <label class="item item-input item-select">
		  	<div class="input-label">
		      Categoria
	      	<img ng-src="{{ categories[issue.category_id].icon }}">
		    </div>
		    <select ng-model="issue.category_id">
		    	<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
		    </select>
		  </label>

    	<div class="row">
    		<div class="col">
	      	<div class="item item-thumbnail-left" href="#">
			      <img ng-src="{{ issue.image }}">
			    </div>
    		</div>
    		<div class="col col-75">
    			<label class="item item-input item-floating-label">
				    <small class="input-label positive">Nome</small>
				    <input type="text" placeholder="Nome (opcional)" ng-model="issue.username">
				  </label>
    		</div>
    	</div>

    	<label class="item item-input item-floating-label">
		    <small class="input-label positive">Comentário</small>
		    <textarea rows="4" placeholder="Comentário (opcional)" ng-model="issue.comment"></textarea>
		  </label>

		  <!--div class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="issue.share_facebook">
		     </label>
		     Compartilhar no facebook
		  </div-->

		  <div class="item">
	      <button class="button button-positive" ng-click="send(issue)">
	      	<i class="ion-paper-airplane"></i> Enviar
	      </button>
		  </div>
		</div><!--list card-->

  </ion-content>
</ion-modal-view>
