<ion-content padding="true" class="issue">

	<br>
	<div ng-show="issue == null" class="list card padding text-center">
		<ion-spinner></ion-spinner> Carregando...
	</div>

	<div ng-hide="issue == null">

	  <div class="list card">

	  	<!--.header -->
	  	<div class="header item item-avatar">
		    <img ng-src="{{ issue.category_icon }}">
		    <h2>{{ issue.category_name }}</h2>
		    <p>{{ issue.created_at * 1000 | date:'fullDate' }}</p>
				<button class="button button-small button-clear button-close-issue" ng-click="goBack()"><i class="ion-close"></i></button>
		  </div>
	  	<!--/header -->

			<!--.body-->
		  <div class="body item item-body">
		    <img ng-src="{{ issue.status_icon }}" class="status-icon">
		    <img class="full-image" ng-src="{{ photo(issue) }}">

		    <div class="fb">
		    	<img ng-src="{{ avatar(issue.facebook_id) }}">
		    	<span class="positive">{{ issue.username }}</span>
		    </div>
		    <p>
	    		{{ issue.comment }}
		    </p>

		    <p>
		      <a href="#" class="subdued" ng-if="issue.likes > 0">
		      	<ng-pluralize count="issue.likes" when="{'one': '1 Curtiu', 'other': '{} Curtidas'}"></ng-pluralize>
		      </a>
		      <a href="#" class="subdued" ng-if="comments.length > 0">
		      	<ng-pluralize count="comments.length" when="{'one': '1 Comentário', 'other': '{} Comentários'}"></ng-pluralize>
		      </a>
		    </p>
		  </div>
			<!--/body-->

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item {{ (liked > 0) ? 'positive' : '' }}" ng-click="like()">
		      <i class="icon ion-thumbsup"></i> {{ (liked > 0) ? 'Descurtir' : 'Curtir' }}
		    </a>
		    <a class="tab-item {{ commentBoxVisible ? 'positive' : '' }}" href="#" ng-click="toggleCommentBox()">
		      <i class="icon ion-chatbox"></i> Comentar
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i> Compartilhar
		    </a>
		  </div>
		</div><!--list card-->

		<!--.comment-box -->
	  <div class="list list-inset" ng-show="commentBoxVisible">
	  	<h3 class="item">
	  		<i class="ion-chatbox"></i> Comentar problema
	  	</h3>

	  	<div fb-user class="item"></div>

		  <div ng-show="$storage.isLoggedIn">
			  <label class="item item-input item-floating-label">
			    <small class="input-label positive">Comentário</small>
			    <textarea rows="4" placeholder="Comentário" ng-model="newComment.text"></textarea>
			  </label>

			  <div ng-show="$storage.isLoggedIn && newComment.text.length > 0">
				  <button class="button button-block button-positive" ng-click="sendComment(newComment.text)" ng-hide="sendingComment">
			    	<i class="ion-paper-airplane"></i> Enviar comentário
			    </button>
			    <button class="button button-block button-positive" ng-show="sendingComment" disabled="disabled">
			    	Aguarde...
			    </button>
			  </div>
		  </div>
		</div>
		<!--/comment-box -->

		<!--.comments -->
		<div ng-show="comments.length > 0" class="comments">
			<div class="list list-inset">
				<h3 class="item">
					<i class="ion-chatboxes"></i> Comentários
				</h3>

		    <div class="item item-avatar" ng-repeat="c in comments">
		      <img ng-src="{{ avatar(c.facebook_id) }}">
		      <span class="positive">{{ c.username }}</span>
		      <p>{{ c.comment }}</p>
		    </div>
			</div>
		</div>
		<!--/comments -->

		<br><br>

	</div><!--#issue-->

</ion-content>
