<ion-view view-title="Últimas fotos recebidas" class="gallery">
	<ion-header-bar class="bar-stable bar-subheader">
		<h1 class="title">
			Últimas fotos recebidas
		</h1>
	</ion-header-bar>

	<ion-content has-subheader="true">

		<ion-refresher pulling-text="Puxe e solte para atualizar" on-refresh="refresh()"></ion-refresher>

		<!-- Empty issues -->
		<div ng-show="(issues != null && issues.length == 0)" class="card padding text-center">
			<br>
			<h4 class="positive">
				Nenhum problema para exibir. <br>
				Seja o primeiro a enviar!
			</h4>
			<br>
			<a ui-sref="tabs.upload" class="button button-outline button-positive">
				<i class="ion-camera"></i> Tire uma foto e envie para nós
			</a>
		</div>
		<!--/Empty issues -->

			<div class="list card" ng-repeat="issue in issues" ng-click="select(issue.id);">
				<div class="item item-avatar">
	      	<img ng-src="{{ issue.category_icon }}">
	      	<h2>
	      		{{ issue.category_name }}
	      		<small class="muted">#{{ issue.id }}</small>
	      	</h2>
	      	<p>
	      		{{ issue.created_at * 1000 | date }}
	      	</p>
				</div>

				<div class="item item-body">
	      	<img ng-src="{{ issue.status_icon }}" class="icon-status">
	      	<img class="full-image" ng-src="{{ photo(issue, 'lg') }}">

		      <p>
		      	<ng-pluralize count="issue.likes" when="{'0': '', 'one': '1 Curtiu', 'other': '{} Curtiram'}"></ng-pluralize>
		      	<ng-pluralize count="issue.comments" when="{'0': '', 'one': '1 Comentário', 'other': '{} Comentários'}"></ng-pluralize>
		      </p>
				</div>

	    </div>

	    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

	</ion-content>
</ion-view>
