<ion-content has-subheader="true">
	<div class="bar bar-subheader">
	  <h2 class="title">
	  	Últimos problemas reportados
	  </h2>
	</div>

	<br><br>
	<br><br>

	<div class="list card">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Escreva para procurar" ng-model="query">
	  </label>

    <div class="item item-thumbnail-left" ng-repeat="issue in issues">
      <img ng-src="{{ issue.photo }}">
      <h2>{{ issue.category.name }}</h2>
      <p>{{ issue.created_at | date }}</p>
      <p>{{ issue.comment }}</p>
    </div>
	</div>

</ion-content>
