<ion-content has-subheader="true">
	<div class="bar bar-subheader">
	  <h2 class="title">
	  	Últimos problemas reportados
	  </h2>
	</div>

	<br><br>
	<br><br>

	<div class="list card">
    <div class="item item-thumbnail-left" ng-repeat="issue in issues" ng-click="select(issue.id);">
      <img ng-src="{{ photo(issue) }}">
      <h2>
      	<img ng-src="{{ issue.category_icon }}" style="width:12px">
      	{{ issue.category_name }}
      </h2>
      <p>{{ issue.created_at | date }}</p>
      <p>
      	<small ng-if="issue.username != ''" class="positive">{{ issue.username }}<br></small>
      	{{ issue.comment }}
      </p>
    </div>
	</div>

</ion-content>
