<ion-content has-subheader="true">
	<div class="bar bar-subheader">
	  <h2 class="title">
	  	<img ng-src="{{ categoryIcon(issue.category_id) }}" style="">
	  	Reportar problemas
	  </h2>
	</div>

	<br><br>
	<br><br>

  <div class="list card">

    <div ng-show="issue.category_id == 0" class="padding positive">
    	<i class="ion-information-circled"></i> Selecione a categoria do problema
    </div>

	  <label class="item item-input item-select">
	  	<div class="input-label">
	      Categoria
	    </div>
	    <select ng-model="issue.category_id">
	    	<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
	    </select>
	  </label>

  	<div class="row">
  		<div class="col">
      	<div class="item item-thumbnail-left" href="#">
		      <img ng-src="{{ issue.image }}">
		    </div>
  		</div>
  		<div class="col col-75">
  			<label class="item item-input item-floating-label">
			    <small class="input-label positive">Nome</small>
			    <input type="text" placeholder="Nome (opcional)" ng-model="issue.username">
			  </label>
  		</div>
  	</div>

  	<label class="item item-input item-floating-label">
	    <small class="input-label positive">Comentário</small>
	    <textarea rows="4" placeholder="Comentário (opcional)" ng-model="issue.comment"></textarea>
	  </label>
	</div><!--list card-->

	<div class="padding">
		<button class="button button-block button-positive" ng-click="send(issue)" ng-hide="sending">
    	<i class="ion-paper-airplane"></i> Enviar
    </button>
    <button class="button button-block button-positive" ng-show="sending" disabled="disabled">
    	Enviando... {{ uploadProgress }}%
    </button>
	</div>

</ion-content>
