<ion-content has-subheader="true" class="upload-issue">
	<div class="bar bar-subheader">
	  <h2 class="title">
	  	Reportar problema <img ng-src="{{ icon(issue.category_id) }}">
	  </h2>
	</div>

	<br><br>
	<br><br>

  <div ng-hide="facebookLogged" class="padding">
  	<br>
  	<button ng-click="login()" class="button button-block button-facebook">
		  <i class="icon-facebook"></i> Entrar com Facebook
		</button>
  </div>

  <div ng-show="facebookLogged" class="list card fb padding">
  	<img ng-src="{{ userfacebook.avatar }}">
    <span class="positive">{{ userfacebook.name }}</span>
    <button ng-click="logout()" title="Sair do Facebook" class="button button-small button-clear button-assertive">x</button>
   </div>

   <div class="list card">
	  <label class="item item-input item-select">
	  	<div class="input-label positive">
	      Categoria
	    </div>
	    <select id="category_id" ng-model="issue.category_id">
	    	<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
	    </select>
	  </label>
  	<div class="row">
  		<div class="col">
      	<div class="item item-thumbnail-left" ng-click="takePhoto(issue)">
		      <img ng-src="{{ issue.photo }}" src="img/camera.png">
		    </div>
  		</div>
  		<div class="col col-75">
  			<label class="item item-input item-floating-label">
			    <small class="input-label positive">Comentário</small>
			    <textarea rows="4" placeholder="Comentário (opcional)" ng-model="issue.comment"></textarea>
			  </label>
  		</div>
  	</div>

  	<div ng-show="facebookLogged" class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" ng-model="issue.share_facebook">
	     </label>
	     Compartilhar no Facebook
	  </div>
	</div><!--list card-->

	<div class="padding">
		<button class="button button-block button-positive" ng-click="send(issue)" ng-hide="sending">
    	<i class="ion-paper-airplane"></i> Enviar problema
    </button>
    <button class="button button-block button-positive" ng-show="sending" disabled="disabled">
    	Enviando... <b>{{ uploadProgress }}%</b>
    </button>
	</div>

</ion-content>
