#map {
	position: relative;
}
.cityname {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 9999;
}

div.olControlZoom {
	position: absolute;
	left: 8px;
	bottom: 30px;
	background: rgba(255,255,255,.4);
	border-radius: 4px;
	padding: 4px;
}

div.olControlZoom a {
	display: block;
	margin: 1px;
	padding: 0;
	color: #fff;
	font-size: 28px;
	font-family: sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
	background: #130085;
	background: rgba(0,60,136,.5);
	filter: alpha(opacity=80);
}
a.olControlZoomIn {
	border-radius: 4px 4px 0 0;
}

.button-facebook {
	color: #FFF;
	background-color: #3B5998;
}

.text-center {
	text-align: center;
}
.muted {
	color: #999;
}

.gallery {
}
.gallery .item-body .icon-status {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
}
.gallery .item-avatar small {
	font-size: 10px;
}

.upload-issue {

}

.upload-issue .icon-category {
	float: right;
	margin-top: 8px;
}

.upload-issue .fb {
	display: flex;
	align-items: center;
}

.upload-issue .fb img {
	border-radius: 15px !important;
	width: 30px;
}

.upload-issue .fb span {
	font-size: 18px;
	margin-left: 5px;
}
.upload-issue .fb button {
	float: right !important;
}

.issue { }

.issue .item-avatar small {
	font-size: 10px;
}

.issue .fb {
	display: flex !important;
	align-items: center !important;
}
.issue .fb img {
	border-radius: 15px !important;
	width: 30px;
}
.issue .fb span {
	font-size: 16px;
	margin-left: 5px;
}

.issue .header { }
.issue .header img {
	border-radius: 3px !important;
}
.issue .body .status-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 45px;
}

.issue .header .button-close-issue {
	position: absolute;
	right: 10px;
	top: 10px;
}
